@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    var bookmarkId = Model.MacroParameters["bookmarkId"].TryConvertTo<int>();
    var cs = ApplicationContext.Services.ContentService;
    var bookmark = cs.GetById(bookmarkId.Result);

    var title = bookmark.GetValue<string>("title");
    var link = bookmark.GetValue<string>("link");
    var tagsString = bookmark.GetValue<string>("tags");
    string[] tags = tagsString.Split(new Char[] { ',' });

    // Url des FavIcon zusammen bauen
    string favIconService = "http://www.google.com/s2/favicons?domain_url=";
    string linkUrl = Url.Encode(bookmark.GetValue("link").ToString());
    string favIconUrl = favIconService + linkUrl;

    // Edit-Url zusammen bauen
    var editUrl = string.Format("/edit-bookmark?id={0}", bookmarkId.Result);
}

<!-- Favicon -->
<div class="bookmark-favicon">
    <img src="@favIconUrl" />
</div>
<!-- Title and URL -->
<div class="bookmark-content">
    <a href="@link" alt="@title">
        <h1>
            @title
        </h1>
        <p>@link</p>
    </a>
    <!-- Tags-->
    @if (tags[0] != "") {
        <div class="bookmark-tags">
            @foreach (var tag in tags) {
                // TODO Link-Adresse 
                // TODO Label-Farbe
                <a href="#" >
                    <span class="label label-blue">@tag</span>
                </a>
            }
        </div>
    }


        </div>

<!-- Edit -->
<div class="bookmark-action">
    <!-- TODO Link/Controller action -->
    <a href="@editUrl"><span class="glyphicon glyphicon-edit"></span></a>
</div>

<!-- Delete -->
<div class="bookmark-action">
    <!-- TODO Link/controller action -->
    <!-- TODO Confirmation -->
    <a href="#"><span class="glyphicon glyphicon-trash"></span></a>
</div>