@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using bookmark_manager.Classes;
@using Newtonsoft.Json

@{
    var bookmarkId = Model.MacroParameters["bookmarkId"].TryConvertTo<int>();
    var cs = ApplicationContext.Services.ContentService;
    var bookmark = cs.GetById(bookmarkId.Result);

    var tagsAlias = "tags";

    var userBookmarks = bookmark.Parent();
    var tagListString = userBookmarks.GetValue<string>(tagsAlias).Replace("&quot;", "\"");
    dynamic coloredTagList = JsonConvert.DeserializeObject(tagListString);

    var title = bookmark.GetValue<string>("title");
    var link = bookmark.GetValue<string>("link");
    var tagsString = bookmark.GetValue<string>("tags");
    string[] bookmarkTag = tagsString.Split(new Char[] { ',' });

    // Url des FavIcon zusammen bauen
    string favIconService = "http://www.google.com/s2/favicons?domain_url=";
    string linkUrl = Url.Encode(bookmark.GetValue("link").ToString());
    string favIconUrl = favIconService + linkUrl;

    // Edit-Url zusammen bauen
    var editUrl = Umbraco.NiceUrl(BookmarkManagerHelpers.GetIdOfFirstRootContentNode(BookmarkManagerHelpers.BOOKMARK_FORM));
    editUrl = string.Format("{0}?id={1}", editUrl, bookmarkId.Result);

    // Delete-Url zusammen bauen
}

<!-- Favicon -->
<div class="bookmark-favicon">
    <img src="@favIconUrl" />
</div>

<div class="bookmark-content">

    <!-- Title and URL -->
    <a href="@link" alt="@title">
        <h1>@title</h1>
        <p>@link</p>
    </a>

    <!-- Tags-->
    @if (bookmarkTag[0] != "")
    {
        <div class="bookmark-tags">
            @{
                foreach (var tag in bookmarkTag)
                {
                    string tagColor = "default";
                    foreach (var coloredTag in coloredTagList.tags)
                    {
                        if (coloredTag.title == tag)
                        {
                            tagColor = coloredTag.color;
                        }
                    }

                    var tagUrlBase = Umbraco.NiceUrl(BookmarkManagerHelpers.GetIdOfFirstRootContentNode(BookmarkManagerHelpers.BOOKMARKS_ROOT));
                    var tagUrl = string.Format("{0}?tag={1}", tagUrlBase, tag);
                    <a href="@tagUrl">
                        <span class="label label-@tagColor">@tag</span>
                    </a>
                }
            }
        </div>
    }
</div>

<!-- Edit -->
<div class="bookmark-action">
    <a href="@editUrl"><span class="glyphicon glyphicon-edit"></span></a>
</div>

<!-- Delete -->
<div class="bookmark-action">
    <a href="@Url.SurfaceAction("HandleBookmarkDelete", "Bookmark", new { id = bookmarkId.Result })" onclick="return confirm('Are you sure?')">
        <span class="glyphicon glyphicon-trash"></span>
    </a>
</div>